<h1>Admin Dashboard</h1>

Welcome, <%=  "#{@admin.email_id} #{@admin.password}" %><br><br>

<%= link_to 'Edit Profile', edit_admin_path  %><br>
<br>
<h2>Realtor:</h2>
<%= link_to 'Create Realtor', new_realtor_path %><br>
<%= link_to 'View or modify realtors', realtors_path %><br>
<br>
<h2>House Hunter:</h2>
<%= link_to 'Create Househunter', new_househunter_path %><br>
<%= link_to 'View or modify househunters', househunters_path %><br>
<br>
<h2>Realestate Company: </h2>
<%= link_to 'Create realestate company', new_company_path %><br>
<%= link_to 'View or modify realestate companies', companies_path %><br>
<br>
<h2>Users:</h2>
<%= link_to 'View or modify Users', users_path %><br>
<br>
<h2>Houses:</h2>
<%= link_to 'View or modify houses', houses_path %><br>
<br>
<h2>Inquiries:</h2>
<%= link_to 'View or modify inquiries', inquiries_path %><br>
<br>
<%= link_to 'Logout', logout_path %><br>