<h1>User:</h1>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is realtor:</strong>
  <%= @user.is_realtor %>
</p>

<p>
  <strong>Is househunter:</strong>
  <%= @user.is_househunter %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %>
<br>
<%= link_to 'Back', users_path %>
<br>
<%= link_to 'Back to dashboard', admin_path %>
<br>
<%= link_to 'Logout', logout_path %>
<br>
