<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @inquiry.content %>
</p>


<p>
  <strong>House:</strong>
  <%= @inquiry.houses_id %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', @previous_url %>
